.container {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  position: absolute;
}
.text {
  font-family: Verdana, sans-serif;
  color: #ffffff;
  font-size: 14px;
  text-transform: capitalize;
  display: inline;
}

.header {
  background-color:
  rgba(0, 0, 0, 0.41);
  width: 100%;
  height: 54px;
}
.sprite {
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: inline-block;
  float: right;
  margin-top: 18px;
  margin-right: 25px;
}
.ic-calendar {
  width: 19px;
  height: 19px;
  background-position: -1px -1px;
}
.ic-calendar:hover {
  background-position: -74px -1px;
}
.ic-forum {
  width: 28px;
  height: 20px;
  background-position: -22px -1px;
}
.ic-forum:hover {
  background-position: -95px -1px;
}
.ic-jorney {
  width: 20px;
  height: 20px;
  background-position: -52px -1px;
}
.ic-jorney:hover {
  background-position: -125px -1px;
}
.header-text-block {
  float: right;
  width: 296px;
  padding-top: 18px;
  padding-left: 24px;
  box-sizing: border-box;
}
.header-text-block p, a {
  display: inline-block;
}
.header-text-block::before {
  content: '';
  height: 19px;
  width: 2px;
  position: absolute;
  box-sizing: border-box;
  border-left: 1px solid #32302e;
  transform: translateX(-25px);
}
.header-title-h1 {
  margin-left: 81px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  transition: all .1s linear;
}
.header-title-h1:hover {
  color: #3cb878;
}
.normal-text{
  text-transform: none;
}
.regular-link {
  color: #3cb878;
  text-decoration: none;
}
.regular-link:hover {
  text-decoration: underline;
}
.window-title-h3 {
  color: #434343;
  font-size: 20px;
  margin-right: 196px;
  margin-bottom: 15px;
  display: inline-block;
}
.button-text {
  color: #ffffff;
  font-size: 16px;
}
.input-text {
  color: #434343;
  text-transform: none;
}

.main {
  width: 100%;
  height: calc(100% - 54px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.window {
  position: relative;
  width: 444px;
  height: 584px;
  background-color: #fff;
  border-radius: 9px;
  padding: 29px 60px 32px 60px;
  box-sizing: border-box;
}
.green-square {
  content: " ";
  display: block;
  width: 18px;
  height: 18px;
  width: 0;
  height: 0;
  border-width: 9px;
  border-color: #3cb878;
  border-style: solid;
  float: left;
  position: absolute;
  left: 0;
  top: 35px;
}
.input-box {
  width: 322px;
  height: 46px;
  margin-top: 9px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  padding-left: 18px;
  transition: all .4s linear;
}
.input-box:focus {
  box-shadow: 0 3px 6px grey;
}
.button {
  position: relative;
  border: none;
  border-radius: 3px;
  transition: all .1s linear;
}
.fab {
  color: white;
  font-size: 18px;
}
.fb-button {
  width: 157px;
  height: 46px;
  background-color: #305db8;
}
.fa-facebook-f {
  position: absolute;
  left: 18px;
}
.fa-facebook-f::after {
  content: '';
  display: inline-block;
  height: 28px;
  width: 1px;
  position: absolute;
  box-sizing: border-box;
  border-left: 1px solid #32302e;
  left: 27px;
  bottom: -6px;
  opacity: .2;
}
.fb-button p {
  padding-left: 40px;
}
.fb-button:hover{
  background-color: #214a97;
}
.g-button {
  width: 157px;
  height: 46px;
  background-color: #df4a32;
  margin-left: 6px;
}
.fa-google-plus-g {
  position: absolute;
  left: 15px;
}
.fa-google-plus-g::after {
  content: '';
  display: inline-block;
  height: 28px;
  width: 1px;
  position: absolute;
  box-sizing: border-box;
  border-left: 1px solid #32302e;
  left: 37px;
  bottom: -6px;
  opacity: .2;
}
.g-button p {
  padding-left: 42px;
}
.g-button:hover {
  background-color: #c43f28;
}
.text-between-lines {
  text-transform: none;
}
.text-with-lines {
  text-align: center;
  margin: 33px 0 9px 0;
  position: relative;
}
.text-with-lines p {
  position: relative;
  z-index: 2;
  display: inline-block;
  padding: 0 26px;
  color: #848484;
  background-color: #fff;
}
.text-with-lines::before, .text-with-lines::after {
  content: '';
  display: inline-block;
  width: 50%;
  position: absolute;
  height: 100%;
  box-sizing: border-box;
  border-top: 1px solid black;
  transform: translateY(55%);
  border-color: #eaeaea;
}
.text-with-lines::before {
  left: 0;
}
.text-with-lines::after {
  right: 0;
}
.checkbox-item {
margin: 22px 0 28px 0;
}
.checkbox-text {
  color: rgba(67, 67, 67, 255);
  text-transform: none;
}
.form input[type=submit] {
  background-color: #39b979;
  width: 322px;
  height: 46px;
}
.form input[type=submit]:hover {
  background-color: #2e9b65;
}
.checkbox {
  display: inline;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
}
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
}
.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox input:checked ~ .checkmark::after {
  display: block;
}
.checkbox .checkmark::after {
  left: 5px;
  top: 2px;
  width: 4px;
  height: 9px;
  border: solid #2e9b65;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
